<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-js-action" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JsAction</name>
    <js-module name="JsAction" src="www/JsAction.js">
        <clobbers target="JsAction"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JsAction">
                <param name="android-package" value="org.apache.cordova.jsaction.JsAction"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/JsAction.java" target-dir="src/org/apache/cordova/jsaction"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JsAction">
                <param name="ios-package" value="JsAction"/>
            </feature>
        </config-file>

        <header-file src="src/ios/MainWebController.h"/>
        <header-file src="src/ios/GlobalManager.h"/>
        <header-file src="src/ios/MqttManager.h"/>
        <header-file src="src/ios/DevicePermission.h"/>
        <header-file src="src/ios/LocationManager.h"/>

        <source-file src="src/ios/JsAction.m"/>
        <source-file src="src/ios/MainWebController.m"/>
        <source-file src="src/ios/GlobalManager.m"/>
        <source-file src="src/ios/MqttManager.m"/>
        <source-file src="src/ios/DevicePermission.m"/>
        <source-file src="src/ios/LocationManager.m"/>

        <pods-config ios-min-version="10.0" use-frameworks="true">
        </pods-config>
        <pod name="MQTTClient" version="0.15.3" />
    </platform>
</plugin>